.main {
    display: grid;
    grid-area: main;
    background-color: #100886;
    border: solid black;
    color: white;
    
  }
  
  .main  div img {
  max-width: 489px;
   }
  
  .main div p {
    padding-top: 20px;
    border: solid white ;
  }
  
  .main section h2{
    padding-top: 20px;
    font-size: large;

  }
  .main section p{
    border: 20px;
    padding-top: 20px;
    display: inline-block;
  }
  .main h2 img{
    width: 489px;
  }